body {
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-repeat: no-repeat;
    background-size: 100%;
}

ul {
    box-shadow: 0 0 10px #91c2ea; 
}

li {
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: .1rem;

}

.searchHist {
    padding-top: 1rem; 
}

.card {
    background: #1e5692d0;
    color: white;
    border-radius: 20px;
}

#descr {
    text-transform: capitalize;
    padding-bottom: 0rem;
}

.current > * {
    font-size: 32px;
    padding: .5rem 0rem;
}

#city {
    font-weight: bold;
    text-align: center;
    padding-top: 1rem ;
    padding-bottom: 0px;
}

#temp {
    padding-top: 0px;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
}

#descr, #humid, #speed, #uvi {
    padding-left: 2rem;
}

#date {
    padding-top: 0px;
    text-align: center;
}

#fiveDate {
    padding-top: .3rem;
    text-align: center;
}

.searchBar {
    width: 95%;
    padding: 1.5rem;
    margin-top: .5rem;
    border-radius: 20px;
    text-align: center;
    height: 3rem;
    color: #1e5692d0;
    box-shadow: 2px 5px 5px #1e5692d0;
    text-decoration: none;
}

button {
    width: 45%;
    padding: 1rem;
    border-radius: 20px;
    margin-left: 25%;
    box-shadow: 2px 5px 5px #1e5692d0;
}

