body {
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-repeat: no-repeat;
    background-size: 100%;
}

.card {
    background: #1b3e7ed0;
    color: white;
    border-radius: 20px;
}